*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode/*
!.vscode/extensions.json
*.iml
*.o
public/

# Local Netlify folder
.netlify

.devcontainer
.github
src
.vscode
tests
.all-contributorsrc
.editorconfig
.gitpod.yml
.markdownlint.yml
AUTHORS.md
Cargo.toml
Cargo.lock
CHANGELOG.md
CONTRIBUTING.md
flake.lock
flake.nix
info.toml
install.ps1
install.sh
LICENSE
oranda.json
README.md
shell.nix